@use '../Variables' as *;

.header {
 background-color: $header-bg-Color;
 width: 100%;

 .headerText {
  p {
   color: $text-Color;
   font-size: $header-font-size;
   font-weight: $header-font-weight;
  }
 }


}

.lowerHeader {
 background-color: $lower-header-section;
 width: 90%;
 position: relative;
 bottom: -38px;
 border-radius: 10px;
}

.iconBg {
 background-color: $main-Color;
 border-radius: 15px;
 margin-right: 15px;
 cursor: pointer;
}