<header class="header position-relative">
 <div class="headerBox">
  <div class="container">
   <div class="row py-5">
    <div class="col-md-6  ">
     <div class="headerText mt-5   d-md-block d-sm-none d-lg-block fixed">
      <p>More than 1000 programs in 80 Schools around the world.</p>
     </div>
     <div class="headerInput mt-5 ">
      <mat-form-field appearance="fill" class="w-100">
       <!-- <mat-label>Search</mat-label> -->
       <input matInput placeholder="Search for programs, schools...">
       <mat-icon matSuffix class="iconBg  ">search</mat-icon>
      </mat-form-field>
     </div>
    </div>
    <div class="col-md-6  ">
     <div class="headerTImage">
      <img src="../../../../../assets/image/business-workflow 1.png" class="img-fluid">
     </div>
    </div>
   </div>
  </div>
 </div>
 <app-lower-header></app-lower-header>

</header>