$main-Color: #6F77F4;
$text-Color: #121212;
$nav-Font-Size: 1.2rem;
$header-bg-Color: #D6D8F9;
$header-font-weight: 700;
$header-font-size: 1.9rem;
$lower-header-section: #F6F0F6;
$BG-Fee: #FDD5D5;
$Radius: 100px;
$iconColor: #636363;
$breakpoint: 1167px;