<section class="upperFooter shadow ">
 <div class="upperFotterBox">

  <div class="row justify-content-between align-items-center p-3">
   <div class="col-lg-6">
    <div class="textBox">
     <h1>Subscribe to get notified </h1>
     <p>
      Subscribe to our newsletter and be informed about all our new updates.
     </p>
    </div>
   </div>
   <div class="col-lg-6">
    <div class="headerInput position-relative">
     <mat-form-field appearance="fill" class="w-100 text-end">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Enter Your E-mail...">
     </mat-form-field>
     <button type="submit" class="iconBg border-0 position-absolute p-2">SubScribe Now</button>
    </div>
   </div>
  </div>
 </div>
</section>