<section class="footer position-relative " style="padding: 25px;">
 <div class="container">


  <app-upper-footer></app-upper-footer>








  <div class="row justify-content-between bg- align-items-center  RH">
   <div class="col-lg-4 col-md-12">
    <div class="footerImg">
     <img src="../../../../../assets/image/logo2.png" alt="">
    </div>
    <div class="footIcon  mt-4">
     <a class="me-3 text-white m3 ">
      <i class="fa-brands fa-instagram"></i>
     </a>
     <a class="me-3 text-white">
      <i class="fa-brands fa-linkedin"></i>
     </a>
     <a class="me-3 text-white">
      <i class="fa-brands fa-facebook-f"></i>
     </a>
     <a class="me-3 text-white">
      <i class="fa-brands fa-youtube"></i>
     </a>
    </div>
    <div class="foottext text-capitalize text-white mt-3 d-flex flex-column ml-5">
     <span>about us</span>
     <span>Terms & policy</span>
     <span>Privacy</span>
    </div>
   </div>

   <div class="col-lg-4 col-md-12">
    <div class="MT" style="margin-top: 8rem;">
     <div class="footIcon ">
      <h1 class="h6 text-white">Services</h1>
     </div>
     <div class="foottext text-capitalize text-white mt-3 d-flex flex-column ml-5">
      <span>Applications</span>
      <span>Acceptance</span>
      <span>Visa</span>
      <span>Housing</span>
      <span>In France</span>
     </div>
    </div>
   </div>

   <div class="col-lg-4 col-md-12">
    <div class="MT" style="margin-top: 8rem;">
     <div class="footIcon ">
      <h1 class="h6 text-white">Contact us</h1>
     </div>
     <div class="foottext d-flex text-capitalize text-white mt-3 d-flex flex-column ml-5">
      <a>
       <i class="fa-solid fa-phone me-2"></i>
       <span>+33 6 34 66 74 97</span>
      </a>
      <a>
       <i class="fa-solid fa-envelope me-2"></i>
       <!-- <span> admin@studentgator.com </span> -->
      </a>
      <a>
       <i class="fa-solid fa-location-dot me-2"></i>
       <span>
        Address: 5 Av. de Celle,
        92360 Meudon, France
       </span>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="mt border-top text-center text-white p-3">
  <p>shroukZiada© 2024 StudentGator All rights reserved.</p>
 </div>
</section>