<nav class="navbar navbar-expand-lg bg-transparent">
 <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="fillter-toggler-icon">
    <i class="fa-solid fa-sort"></i>
   </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <div class="lowerHeader shadow py-3 d-flex justify-content-center m-auto text-center align-items-center ">

    <div class="row justify-content-center align-items-center text-center m-auto">
     <div class="col-lg-2 col-md-4  col-sm-6">
      <div class="dropdown">
       <button class="btn btn-light px-3 mb-2 me-2 dropdown-toggle " type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        School
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
     <div class="col-lg-2 col-md-4  col-sm-6">
      <div class="dropdown">
       <button class="btn btn-light px-3 me-2 mb-2 dropdown-toggle" type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        Field
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
     <div class="col-lg-2 col-md-4  col-sm-6">
      <div class="dropdown">
       <button class="btn btn-light px-3 me-2 mb-2  dropdown-toggle" type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        Level
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
     <div class="col-lg-2 col-md-4">
      <div class="dropdown">
       <button class="btn btn-light px-3 me-2 mb-2 dropdown-toggle" type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        Budget
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
     <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="dropdown">
       <button class="btn btn-light px-3 me-2 mb-2 dropdown-toggle" type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        Language
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
     <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="dropdown">
       <button class="btn btn-light px-3 me-2 mb-2 dropdown-toggle" type="button" id="dropdownMenu2"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select City
       </button>
       <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
         <li><button class="dropdown-item" type="button">Action</button></li>
         <li><button class="dropdown-item" type="button">Another action</button></li>
         <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul> -->
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</nav>